.content-wrapper {
    margin-top: 80px; /* Menü yüksekliği kadar boşluk bırakır */
    padding: 20px;
}

body{
  background: #14652e;


}

.takim-kutu {
padding-top: 100px; /* Yazının menü çubuğunun altında görünmesini sağlayacak bir miktar boşluk ekleyin */
margin-top: 120px; /* Bu ayarı menü çubuğunun altında gözükmesi gereken yazıyı yukarı çekmek için kullanabilirsiniz */
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;
width: 80%; /* Kutuları daha geniş yap */
box-sizing: border-box;
text-align: center; /* İçeriği ortala */
margin-right: auto; /* Sağ ve sol boşluklar */
margin-left: auto;
margin-bottom: 100px;
background-color: #fff;
}

.takim-kutu h1{
  color: #e63535;
}

.takim-kutu img {
width: 500px; 
height: 300px;
margin-top: 30px;
margin-bottom: 10px;
margin-left: 5px;
}



.takim-kutu h3 {
margin-top: 120px;
margin-bottom: -35px;
}

.takim-kutu table {
width: 100%;
border-collapse: collapse;
margin-top: -10px;
}
    
.takim-kutu table th, .takim-kutu table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}
    
.takim-kutu table th {
background-color: #f2f2f2;
}

.sosyal-medya-iconlar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  
}

.sm-kutu{
  text-align: center;
  border: 5px solid #14652e;
  box-sizing: border-box;
  width: 500px;
  height: 0 auto;
  margin-left: 28%;
}

.sosyal-medya-iconlar a {
  font-size: 24px;
  margin: 0 10px;
}

.sosyal-medya-iconlar a:first-child {
  margin-left: 0;
}

.sosyal-medya-iconlar a:last-child {
  margin-right: 0;
}

/* YouTube ikonu için kırmızı renk tanımı */
.sosyal-medya-iconlar a[href*="youtube.com"] i {
  color: red;
}

/* Twitter ikonu için mavi renk tanımı */
.sosyal-medya-iconlar a[href*="twitter.com"] i {
  color: #1DA1F2;
}

/* Instagram ikonu için koyu kırmızı renk tanımı */
.sosyal-medya-iconlar a[href*="instagram.com"] i {
  color: #C13584;
}
#container {
  text-align: center;
}

#container ul {
  text-align: left;
  margin: auto;
  max-width: 600px; /* Yazının maksimum genişliğini belirleyebilirsiniz */
}

.ytvideo{
  text-align: center; /* Videoyu ortalamak için */
  max-width: 100%; /* Videoyu genişlik olarak container'a sığdır */
  height: auto; /* Yükseklik oranını koru */
  display: block; /* Dikey hizalama için */
  margin: 0 auto; /* Yatayda ortalamak için */
  margin-top: 75px;
}



